<!DOCTYPE html>
<html>
  <body>
<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST">
  <label for="team[name]">Team Name:</label>
  <input type="text" id="team[name]" name="team[name]">
  <br />
  <label for="team[motto]">Team Motto:</label>
  <input type="text" id="team[motto]" name="team[motto]">
  <br/>
<h2>Hero #1</h2>
<label for="member1_name">Hero #1 Name:</label>
<input type="text" id="member1_name" name="team[members][0][name]">
<label for="member1_name">Hero #1 Power:</label>
<input type="text" id="member1_power" name="team[members][0][power]">
<label for="member1_name">Hero #1 Bio:</label>
<input type="text" id="member1_bio" name="team[members][0][bio]">

<h2>Hero #1</h2>
<label for="member1_name">Hero #1 Name:</label>
<input type="text" id="member1_name" name="team[members][0][name]">
<label for="member1_name">Hero #1 Power:</label>
<input type="text" id="member1_power" name="team[members][0][power]">
<label for="member1_name">Hero #1 Bio:</label>
<input type="text" id="member1_bio" name="team[members][0][bio]">


